.students-list-container {
  //   --primeng-datatable-body-cell-border-color: red;

  --primeng-datatable-header-cell-background: var(--Neutral-900);
  --primeng-datatable-row-striped-background: var(--Neutral-200);
  --primeng-datatable-row-background: var(--Neutral-100);
  --primeng-datatable-row-color: var(--Neutral-800);
  --primeng-datatable-body-cell-padding: 20px;
  --primeng-paginator-background: var(--Neutral-100);

  --primeng-paginator-nav-button-selected-background: var(--Neutral-300);
  --primeng-paginator-nav-button-border-radius: 10px;

  --primeng-select-border-color: var(--Neutral-800)
    --primeng-select-option-selected-background: var(--Neutral-300);
  --primeng-select-overlay-background: var(--Neutral-200);
  --primeng-select-option-selected-focus-background: var(--Neutral-300);
  --primeng-select-option-selected-focus-color: var(--Neutral-800);
  --primeng-select-option-background: var(--Neutral-200);
  --primeng-select-option-focus-color: var(--Neutral-800);
  --primeng-select-option-color: var(--Neutral-800);

  --primeng-select-background: var(--Neutral-300);
  --primeng-select-option-focus-background: var(--Neutral-100);
  --primeng-select-option-focus-color: var(--Neutral-800);
  --primeng-select-color: var(--Neutral-800);

  --primeng-paginator-current-page-report-color: var(--Neutral-800);
  --primeng-paginator-nav-button-color: var(--Neutral-800);
}
