:root {
  --Primary-950: #002e27;
  --Primary-900: #025244;
  --Primary-800: #016450;
  --Primary-700: #007f64;
  --Primary-600: #009e79;
  --Primary-500: #06c393;
  --Primary-400-P: #22cf9e;
  --Primary-300: #67eec3;
  --Primary-200: #a3f7d7;
  --Primary-100: #cffce9;
  --Primary-50: #ebfef7;
  --Secondary-950: #1a345b;
  --Secondary-900: #1f4d89;
  --Secondary-800: #2059ad;
  --Secondary-700: #1f6ed6;
  --Secondary-600-P: #2885e8;
  --Secondary-500: #3da2f4;
  --Secondary-400: #62bff8;
  --Secondary-300: #94d7fc;
  --Secondary-200: #c0e5fd;
  --Secondary-100: #dbf0fe;
  --Secondary-50: #eff9ff;
  --Neutral-950: #25272c;
  --Neutral-900: #383a42;
  --Neutral-800: #40444c;
  --Neutral-700: #4a4e5a;
  --Neutral-600-P: #5b616e;
  --Neutral-500: #6b7280;
  --Neutral-400: #8e95a2;
  --Neutral-300: #b6bac3;
  --Neutral-200: #d8dbdf;
  --Neutral-100: #edeef1;
  --Neutral-50: #f7f8f8;
  --Persian-Red-950: #450a0a;
  --Persian-Red-900: #7f1d1d;
  --Persian-Red-800: #991b1b;
  --Persian-Red-700: #b91c1c;
  --Persian-Red-600: #dc2626;
  --Persian-Red-500-P: #ef4444;
  --Persian-Red-400: #f87171;
  --Persian-Red-300: #fca5a5;
  --Persian-Red-200: #fecaca;
  --Persian-Red-50: #fef2f2;
  --Pumpkin-950: #432007;
  --Pumpkin-900: #7c3d12;
  --Pumpkin-800: #9a4a12;
  --Pumpkin-700: #c2570c;
  --Pumpkin-600: #ea670c;
  --Pumpkin-500-P: #f97316;
  --Pumpkin-400: #fb8a3c;
  --Pumpkin-300: #fdac74;
  --Pumpkin-200: #feccaa;
  --Pumpkin-100: #ffe6d5;
  --Pumpkin-50: #fff4ed;
  --Chateau-Green-950: #052e14;
  --Chateau-Green-900: #14532b;
  --Chateau-Green-800: #166533;
  --Chateau-Green-700: #15803c;
  --Chateau-Green-600: #16a34a;
  --Chateau-Green-500-P: #22c55e;
  --Chateau-Green-400: #4ade81;
  --Chateau-Green-300: #86efad;
  --Chateau-Green-200: #bbf7d1;
  --Chateau-Green-100: #dcfce8;
  --Chateau-Green-50: #f0fdf5;
  --Black: #000000;
  --White: #ffffff;
}
