:root {
  --font-family: 'Inter';
}

body {
  color: var(--Neutral-900);
  background: var(--Neutral-300);
  height: 100%;
  font-size: 16px;
  margin: 0px;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .cursor {
    cursor: pointer;
    :hover {
      cursor: pointer;
    }
  }

  a {
    color: var(--Secondary-600-P);
    text-decoration: none;
  }

  a:hover {
    color: var(--Secondary-800);
    text-decoration: underline;
  }

  a:active {
    color: var(--Secondary-950);
    text-decoration: underline;
  }

  a:visited {
    color: var(--Persian-Red-700);
  }

  .error-message-text {
    font-size: 12px;
    color: var(--Persian-Red-500-P);
  }
}
